#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff9999;
    width: 30px;
    height: 30px;
    display: block;
    text-decoration: none;
    border-radius: 100%;
    display: none;
}

#return-to-top span {
    color: #fff;
    padding: 3px 5px;
    position: relative;
}

.navbar-custom {
    background-color: #ff9999;
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #6DCCA8;
}

.navbar-custom .navbar-nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #6DCCA8;
}

.navbar-custom .navbar-brand {
    color: #fff;
}

.navbar-custom .navbar-toggle {
    background-color: #6DCCA8;
}

.navbar-custom .icon-bar {
    background-color: #6DCCA8;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #6DCCA8;
}

#chart svg {
    height: 400px;
}

#intermediate_chart svg {
    height: 400px;
}

#final_chart svg {
    height: 400px;
}

#hoverText {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 140px;
    padding: 5px;
    background-color: white;
    border: 1px solid #adadad;
    border-radius: 3px;
    font-size: 17px;
    line-height: 1.2;
}

#hoverText h4 {
    text-align: center;
}

.vertical-line {
    cursor: pointer;
}

.left-align {
    margin: 20px 50px;
    padding: 30px;
}

body {
    --x-height-multiplier: 0.35;
    --baseline-multiplier: 0.179;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

.title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 1.04;
    letter-spacing: -.028em;
}

.qoute {
    --x-height-multiplier: 0.363;
    --baseline-multiplier: 0.157;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
    font-style: italic;
    margin-left: -1.75px;
    line-height: 1.48;
    letter-spacing: -.014em;
}
